.container {
  display: grid;
  grid-template-columns: 4rem 4.5fr 1fr;
}

/* Main Content (middle) */
.abilitiesContainer {
  position: relative;
  display: grid;
  grid-template-rows: 5rem 2fr 1fr;
  height: 100vh;
}

.abilitiesContainer::before {
  content: "";
  z-index: 5;
  position: absolute;
  left: 0;
  top: 6rem;
  background-color: var(--clr-bg-var);
  width: 100%;
  height: 2px;
}

.abilitiesContainer h2 {
  align-self: center;
  font-family: "Valorant";
  font-size: 2.5rem;
  margin-left: 1em;
  margin-top: 1em;
}
