.container {
  display: grid;
  grid-template-columns: 4rem 4.5fr 1fr;
}

/* Main Content (middle) */
.abilitiesContainer {
  display: grid;
  grid-template-rows: 5rem 2fr 1fr;
  height: 100vh;
}

.abilitiesContainer h2 {
  align-self: center;
  font-family: "Valorant";
  font-size: 2.5rem;
  margin-left: 1em;
  margin-top: 1em;
}
